[class*="col-"] {

  /*background-color: #eee;
  background-color: rgba(86,61,124,.15);*/
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}


#large-section {
  /*padding-top: 400px;*/
  /*padding-bottom: 800px;*/
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 75px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.title{
  text-align: left;
  margin-left: 40px;
  font-weight: bold;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}

.not_possible {
  fill:rgb(200,200,200);
}

.possible {
  fill:#EC888C;
}

#cdf_chart svg {
  height: 600px;
  width: 800px;
}
