/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font: 'Lato',sans-serif;
}

[class*="col-"] {

  /*background-color: #eee;
  background-color: rgba(86,61,124,.15);*/
  /*border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);*/
}

.large-chart{
  width: 700px;
  height: 350px;
}

.small-chart{
  width: 550px;
  height: 240px;
}

.stretch-chart{
  width: 700px;
  height: 150px;
}

/*.switch-btn{
  width: 50px;
  height: 20px;
}*/

#large-section {
  /*padding-top: 400px;*/
  /*padding-bottom: 800px;*/
}

/*div.tooltip {
  position: absolute;
  width: 210px;
  padding: 8px;
  font: 12px sans-serif;
  background: #fff;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}*/

div.tooltip {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}


div.tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
}

.boldDetail{
  font-weight: bold;
}

.normalDetail{
  font-weight: normal;
}


.title{
  text-align: left;
  margin-left: 40px;
  font-weight: bold;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}

.not_possible {
  fill:rgb(200,200,200);
}

.possible {
  fill:#EC888C;
}

.dataTables tbody{
    height: 80px;
}

.dataTables tr{
    height: 20px;
}

#events {
        margin-bottom: 1em;
        padding: 1em;
        background-color: #f6f6f6;
        border: 1px solid #999;
        border-radius: 3px;
        height: 100px;
        overflow: auto;
    }

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://sampsonresume.com/labs/pIkfp.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}